// out: ./css/style.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true
@import url('https://fonts.googleapis.com/css?family=Mystery+Quest');
@import url('https://fonts.googleapis.com/css?family=Lato');
/*RWD*/ 

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1024px;

// Extra large 

$screen-xxl-min: 1440px;

// orientation landscape 



// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
 }

 // Super extra large

 @mixin xxl {
    @media (min-width: #{$screen-xxl-min}) {
        @content;
    }
 }

$font-family-primary: 'Mystery Quest', cursive;
$font-family-secoundary: 'Lato', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
dq-content{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

/*HEADER*/

dq-header {
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: #008D3A;
  flex-direction: row;
  width: 100%;
  height: 20vmin;
  @include lg {
    height: 18vmin;
}
@include sm {
    flex-direction: column;
    max-width: 100vw;
    height: 300px;
    position: relative;
}
}

dq-logo {
    background-color: #FFD600;
    display: flex;
    flex-grow: 1;
    @include sm {
        position: relative;
        justify-content: center;
        height: 100px;
    }

img {
    width: 30vmin;
    @include sm {
        position: absolute;
        width: 32vmin;
        
    
    }
}
}
a.logo {
    @include sm {
        position: absolute;
        top: 5%;
        left: 35%;
    }
}
dq-nav {
    flex-grow: 3;
    display: flex;
    justify-content: space-evenly;
    @include sm {
        height: 250px;
        justify-content: center;
    }
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    line-height: 1.6;
    height: 100%;
    width: 100%;
    @include sm {
        flex-direction: column;
        align-items: center;
    }
li {
    display: flex;
    padding: 20px;
}
a {
    text-decoration: none;
    font-family: $font-family-primary;
    color: #FFD600;
    display: flex;
    align-items: center;
    font-size: 2.6rem;
    white-space: nowrap;
    transition: 0.5s;
    transition-timing-function: linear;
    &:hover
    {
color: #18dcff;
opacity: 0.9;

    }
    @include lg {
        font-size: 1.8rem;
    }
}
}
}

dq-mainfoto {
    display: flex;
    position: relative;
    background-image: url("../images/main2.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 90vh;
   @include sm {
       
       height: 80vh;
   }
p.main {
    position: absolute;
    text-align: center;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    top: 60vh;
    right: 20vh;
    text-shadow: 2px 6px 7px #00BCD4;
    font-family: $font-family-secoundary;
    transition: .5s;
    &:hover
    {
    font-size: 3.2rem;
    cursor: pointer;
    @include lg {
        font-size: 2.2rem;
    }
    }
    @include lg {
        font-size: 2rem;
        top: 70vh;
        right: 10vh;
    }
    @include sm {
        font-size: 1.2rem;
        top: 68vh;
        right: 4vh;
        &:hover
        {
            font-size: 1.5rem;
        }
    }
    
}
}

/*ABOUTUS*/

dq-aboutus {
    
    display: flex;
    flex-direction: row;
    position: relative;
    height: 50vh;
    top: 10vh;
    @include sm {
        width: 100%;
        height: 90vh;
    }
    @include md {
        max-width: 100vw;
    }
    @include lg {
        max-width: 100vw;
    }
    
video {
    position: absolute;
    top: 50px;
    left: 10vw;
    max-width: 600px;
    max-height: 500px;
    border: 10px solid #008d3a;
    box-shadow: -17px 16px 15px 0px #CDDC39;
    @include sm {
        top: 10px;
        max-width: 90%;
        border: 7px solid #008d3a;
    }
    @include md {
        max-width: 350px;
    }
    @include lg {
        top: 40px;
        max-width: 400px;
        max-height: 350px;
    }
    @include xl {
        max-width: 500px;
    }
}
menu {
    position: absolute;
    top: 340px;
    left: 18.5vw;
    @include sm {
        top: 135px;
        left: 25vw;
    }
    @include md {
        top: 190px;
    }
    @include lg {
        top: 210px;
    }
    @include xl {
        top: 280px;
        left: 20vw;
    }
button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 1rem;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
    @include sm {
        font-size: .8rem;
        padding: 2px 10px;
    }
    @include md {
        padding: 3px 11px;
    }
    @include lg {
        padding: 8px 15px;
    }
}
}
.angola1 {
    position: relative;
    top: -2vh;
    left: 43%;
    width: 45vw;
    @include sm {
        width: 80vw;
        top: 20vh;
        left: 20%;
    }
    @include lg {
        left: 50%;

    }
}
a.rotate {
    position: absolute;
    top: 15vh;
    left: 45vw;
    transform: rotate(135deg);
    @include sm {
        max-width: 70vw;
        left: 25vw;
        top: 50vh;
        padding: 5px;
    }
    @include lg {
        max-width: 70vw;
        transform: rotate(180deg);
        top: 50vh;
        left: 25vw;
    }
    @include xl {
        left: 35vw;
        top: 12vh;
    }
img {
    box-shadow: #008D3A 20px -8px 15px 2px;
    @include sm {
        max-width: 90vw;
    }
    @include lg {
        max-width: 90vw;
        margin: 5% 0;
    }
    @include xl {
        width: 70%;
    }
}
   
}
p.firstline {
    position: absolute;
    max-width: 40%;
    top: 5%;
    right: 420px;
    font-family: $font-family-secoundary;
    font-size: 2rem;
    color: #008d3a;
    text-shadow: 1px 2px 2px #FFEB3B, 3px 2px 16px #4caf50, 0 0 5px #FF9800;
    @include lg {
        display: none;
    }
    @include xl {
        display: initial;
        top: 90%;
        font-size: 1.5rem;
        left: -150px;
    }
}

}
p.secondline {
    position: absolute;
    top: 75%;
    max-width: 40%;
    right: 15px;
    font-family: $font-family-secoundary;
    font-size: 2rem;
    color: #FF9800;
    @include sm {
        max-width: 75vw;
        font-size: 1rem;
    }
    @include lg {
        max-width: 30vw;
        font-size: 1.5rem;
        top:60%;
        right: 5%;
    }
    @include xl {
        top: 65%;
        right: 15px;
    }
}
p.bigline {
    display: none;
    @include sm {
        display: flex;
        top: 20%;
        left: 1%;
        max-width: 90%;
        font-size: 1.3rem;
    }
    @include md {
        top: 10%;
    }
    @include lg {
    display: initial;
    position: absolute;
    
    top: 5%;
    left: 30%;
    max-width: 50%;
    font-family: $font-family-secoundary;
    font-size: 1.5rem;
    color: #008d3a;
    text-shadow: 1px 2px 2px #FFEB3B, 3px 2px 16px #4caf50, 0 0 5px #FF9800;
    }
    @include xl {
        display: none;
    }
    
}

/*GALLERY*/

.dq-gallery {
    // display: flex;
    // flex-direction: row;
    position: relative;
    min-height: 100vh;
    top: 30vh;
    background-color: white;
    @include sm {
        top: 13vh;
        width: 100vw;
    }
    @include lg {
        top: 35vh;
    }
.title {
    position: absolute;
    bottom: 10%;
    left: 15%;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    @include sm {
        display: none;
        top: 35%;
        left: 1%;
    }
    @include md {
        left: 1%;
    }
    @include xl {
        left: 10%;
    }
    @include xxl {
        left: 5%;
    }
}
h1 {
    font-size: 3rem;
    color: #FF9800;
    background-color: #008d3a;
    padding: 10px 15px;
    @include sm {
        font-size: 1.5rem;
    }
}
.images {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    position: absolute;
    top: 5%;
    right: 30%;
    bottom: 5%;
    left: 10%;
    @include sm {
        right: 1%;
        max-width: 100%;
    }
    @include xl {
        left: 20%;
        right: 15%;
    }
    
}
a {
    position: relative;
    flex-basis: calc(50% - 40px);
    height: 20%;
    margin: 0 20px;
    overflow: hidden;
    box-shadow: 0 0 3px 3px gray;
}
img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}
}

/*ARROW*/

.arrow {
    position: relative;
    min-height: 10vh;
    width: 100vw;
    top: -30vh;
    @include sm {
        display: none;
        top: 2vh;
    }
#next {
    color: #008d3a;
    font: normal bold 80px $font-family-secoundary;
    padding: 0.5em 1.5em 0.5em 0;
    position: absolute;
    top: 30%;
    right: 5%;
    text-decoration: none;
    @include lg {
        font: normal bold 40px $font-family-secoundary;
    }
    @include xl {
        top: 490%;
        font: normal bold 50px $font-family-secoundary;
    }
}
 #next:before, #next:after {
    background: #008d3a;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    content: "";
    display: block;
    height: 0.3em;
    position: absolute;
    right: 0;
    width: 1em;
 }
 #next:before {
    top:0.66em;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
 }
 #next:after {
    bottom:0.66em;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
 }
 }

 /*NEWS*/

 .news {
     position: relative;
     top: 20vh;
     width: 100%;
     min-height: 80vh;
     background-color: #FF9800;
     z-index: -1;
     @include sm {
         top: 15vh;
         height: 90vh;
     }
.line1 {
    width: 30%;
    height: 5%;
    stroke: #008d3a;
    stroke-width: 20%;
    @include sm {
        width: 50%;
    }
}
p.thirdline {
    position: absolute;
    max-width: 40%;
    line-height: 250%;
    text-align: center;
    top: 35%;
    left: 15%;
    font-family: $font-family-secoundary;
    font-size: 2rem;
    color: #008d3a;
    text-shadow: 1px 2px 2px #FFEB3B, 3px 2px 16px #4caf50, 0 0 5px #FF9800;
    @include sm {
        top: 3%;
        max-width: 100%;
        line-height: 100%;
        font-size: 1.8rem;
    }
}

.face {
   float: right;
   margin-right: 40px;
   @include sm {
       position: absolute;
       top: 25vh;
       left: 20vw;
   }
}
 }

/* FOOTER */ 

.dq-footer {
    position: relative;
    top: 15vh;
    width: 100vw;
    @include sm {
        top: 0;
    }
  
.orange-bg {
  position: absolute;
  background-size: cover;
  background-color: #ff9800;
  top: 0;
  height: 400px;
  width: 100vw;
  z-index: -1;
  overflow-x: hidden;
}
.red-bg {
  top: 5%;
  left: 2%;
  background-color: #e31e24;

  margin: 120px 0px;
  width: 100vw;
  min-height: 30vh;
  transform: skewY(5deg);
  z-index: 100;
  @include lg {
      min-height: 30vh;
      transform: skewY(0deg);
      
  }
}
.shadow {
    box-shadow: -2px -5px 5px 0px rgba(0,0,0,0.3);
}
.content {
  position: absolute;
  top: -35%;
  left: 25%;
  text-align: center;
  margin: 150px 10vw;
  min-width: 30vw;;
  max-width: 60vw;
  min-height: 20vh;
  background-color: transparent;
  line-height: 450%;
  transform: skewY(-5deg);
  @include sm {
      line-height: 170%;
      left: 15%;
      top: - 45%;
  }
  @include lg {
      line-height: 350%;
      transform: skewY(0deg);
  }
}  
p.h {
    font-family: $font-family-secoundary;
    font-size: 3rem;
    color: #FFD600;
    @include sm {
        font-size: 1.5rem;
    }
 } 
p.try {
    font-family: $font-family-secoundary;
    text-align: center;;
    font-size: 2rem;
    color: #FFD600;
    @include sm {
        font-size: 1.5rem;
    }
  }
}

