// out: ./css/style.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true
@import url('https://fonts.googleapis.com/css?family=Mystery+Quest');
@import url('https://fonts.googleapis.com/css?family=Lato');
$font-family-primary: 'Mystery Quest', cursive;
$font-family-secoundary: 'Lato', sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

dq-content{
    // display: flex;
    // flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    
}

dq-header {
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: #008D3A;
  flex-direction: row;
  width: 100vmax;
  height: 20vmin;

}

dq-logo {
    background-color: #FFD600;
   /* box-shadow: -1px 9px 20px 20px #ffd600;*/
    display: flex;
    flex-grow: 1;
img {
    width: 30vmin;
}
}

dq-nav {
    flex-grow: 3;
   
    
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    line-height: 1.6;
    height: 100%;
li {
    display: flex;
    padding: 20px;
}
a {
    text-decoration: none;
    font-family: $font-family-primary;
    color: #FFD600;
    display: flex;
    align-items: center;
    font-size: 2.6rem;
    white-space: nowrap;
    transition: 0.5s;
    
    &:hover, 
    {
color: #18dcff;
opacity: 0.9;

    }
}
}
}

dq-mainfoto {
    display: flex;
    position: relative;
    background-image: url("../images/main2.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 90vh;
   
p.main {
    position: absolute;
    text-align: center;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    top: 60vh;
    right: 20vh;
    text-shadow: 2px 6px 7px #00BCD4;
    font-family: $font-family-secoundary;
    transition: .5s;
    &:hover,
    {
    font-size: 3.2rem;
    cursor: pointer;
    }
}
}


dq-aboutus {
    
    display: flex;
    flex-direction: row;
    position: relative;
    height: 50vh;
    top: 10vh;
    
    // background-image: url('/images/angolabg2.jpg');
    // background-size: cover;
  
video {
    position: absolute;
    top: 50px;
    left: 10vw;
    max-width: 600px;
    max-height: 500px;
}
.angola1 {
    position: relative;
    top: -2vh;
    left: 43%;
    
    width: 45vw;
   
  
}
a.rotate {
    position: absolute;
    top: 15vh;
    left: 45vw;
    transform: rotate(135deg);
   
}
p.firstline {
    position: absolute;
    max-width: 40%;
    top: 5%;
    right: 400px;
    font-family: $font-family-secoundary;
    font-size: 2rem;
}
p.secondline {
    position: absolute;
    top: 55%;
    max-width: 30%;
    right: 25px;
    font-family: $font-family-secoundary;
    font-size: 1.5rem;
}
}
