// out: ./css/style.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true
@import url('https://fonts.googleapis.com/css?family=Mystery+Quest');
@import url('https://fonts.googleapis.com/css?family=Lato');
$font-family-primary: 'Mystery Quest', cursive;
$font-family-secoundary: 'Lato', sans-serif;
* {
    margin: 0;
    padding: 0;
}

dq-content{
    // display: flex;
    // flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    
}

dq-header {
  display: flex;
  background-color: #008D3A;
  flex-direction: row;
  width: 100vmax;
  height: 20vmin;

}

dq-logo {
    background-color: #FFD600;
   /* box-shadow: -1px 9px 20px 20px #ffd600;*/
    display: flex;
    flex-grow: 1;
img {
    width: 30vmin;
}
}

dq-nav {
    flex-grow: 3;
   
    
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    line-height: 1.6;
    height: 100%;
li {
    display: flex;
    padding: 20px;
}
a {
    text-decoration: none;
    font-family: $font-family-primary;
    color: #FFD600;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    white-space: nowrap;
    transition: 0.5s;
    
    &:hover, 
    {
color: #18dcff;
opacity: 0.9;

    }
}
}
}

dq-mainfoto {
    display: block;
    position: relative;
    background-image: url("/images/main2.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    min-width: 320px;
p.main {
    position: absolute;
    text-align: center;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    top: 60vh;
    right: 20vh;
    text-shadow: 2px 6px 7px #00BCD4;

    font-family: $font-family-secoundary;
}
}


dq-aboutus {
    display: flex;
    flex-direction: row;
   
}